.services-image {
  margin-bottom: 50px;
  text-align: center;
}

.services-image h4 {
  font-weight: 400;
  line-height: 40px;
  color: #2D4059;
}

.services-image h4 > span {
  font-weight: 500;
}

.services-image p {
  font-weight: 300;
  line-height: 50px;
  color: #2D4059;
}

.services-image img {
  /* width: 100px; */
}
