.how-we-work {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
}

.how-we-work .img-fluid {
  margin-top: 80px;
}

.how-we-work .card-title {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #2D4059;
}

.how-we-work h4{
  position: relative;
  color: #2D4059;
}

.how-we-work h4::before{
  left: 176px;
  content: '';
  width: 90px;
  height: 3px;
  background-color: #2D4059;
  position: absolute;
  bottom: -4px;
}

.how-we-work span{
  color: #2D4059;
}
