.breadcrumb1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.breadcrumb1 h4 {
  margin: 0;
  padding: 0;
  color: #FD771D;
}

.breadcrumb-links > li {
  display: inline-block;
  margin-right: 5px;
}

.breadcrumb-links > li > a {
  color: #2D4059;
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
}

.breadcrumb-links > li > a > span {
  font-size: 17px;
}
